<!-- Render for the editing the video page -->
<body class="text-center">
  <div class= "container container--xs">
    <%= image_tag ("videogame2.png"), :size=> "120x140"%>
    <h1 class="h2 mt-2 font-weight-normal"><strong>Editing Video Game</strong></h1>
    <%= render 'form', videogame: @videogame %>
    <%= link_to 'Show', @videogame, data: { confirm: 'Are you sure? Unsaved changes may be lost!' }%> |
    <%= link_to 'Back', videogames_path, data: { confirm: 'Are you sure? Unsaved changes may be lost' } %>
  </div>
</body>
